<wm-page name="page1" data-ng-controller="NewPageController">
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-composite name="composite1">
                <wm-label name="label1" class="col-md-3"></wm-label>
                <wm-container name="container1" class="col-md-9">
                    <wm-text name="text1"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-button name="button1" class="btn-default" caption="Button" type="button"></wm-button>
            <wm-accordion name="accordion1">
                <wm-accordionpane name="accordionpane1">
                    <wm-accordionheader name="accordionheader1"></wm-accordionheader>
                    <wm-accordioncontent name="accordioncontent1"></wm-accordioncontent>
                </wm-accordionpane>
            </wm-accordion>
        </wm-page-content>
    </wm-content>
</wm-page>