<wm-page name="page1" data-ng-controller="New3PageController">
    <wm-content name="content1">
        <wm-page-content name="page_content1" columnwidth="12">
            <wm-tabs name="tabs1">
                <wm-tabpane name="tabpane1">
                    <wm-tabheader name="tabheader1"></wm-tabheader>
                    <wm-tabcontent name="tabcontent1"></wm-tabcontent>
                </wm-tabpane>
            </wm-tabs>
            <wm-list name="list1"></wm-list>
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn name="gridcolumn1" columnwidth="4">
                        <wm-layoutgrid name="layoutgrid3">
                            <wm-gridrow name="gridrow7">
                                <wm-gridcolumn name="gridcolumn13" columnwidth="4"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn14" columnwidth="4"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn15" columnwidth="4"></wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow8">
                                <wm-gridcolumn name="gridcolumn16" columnwidth="4"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn17" columnwidth="4"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn18" columnwidth="4"></wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow9">
                                <wm-gridcolumn name="gridcolumn19" columnwidth="4"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn20" columnwidth="4"></wm-gridcolumn>
                                <wm-gridcolumn name="gridcolumn21" columnwidth="4"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn2" columnwidth="4"></wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn3" columnwidth="4"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn name="gridcolumn4" columnwidth="4"></wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn5" columnwidth="4"></wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn6" columnwidth="4"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn name="gridcolumn7" columnwidth="4"></wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn8" columnwidth="4"></wm-gridcolumn>
                    <wm-gridcolumn name="gridcolumn9" columnwidth="4"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-form name="form1" title="Form" class="panel-default">
                <wm-layoutgrid name="layoutgrid2">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn10">
                            <wm-composite name="composite1">
                                <wm-label name="label1" class="col-md-3" caption="Name"></wm-label>
                                <wm-container name="container1" class="col-md-9">
                                    <wm-text name="text1" tabindex="1" placeholder="Enter Name"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn11">
                            <wm-composite name="composite2">
                                <wm-label name="label2" class="col-md-3" caption="Type"></wm-label>
                                <wm-container name="container2" class="col-md-9">
                                    <wm-select name="select1" tabindex="3" dataset="Option 1, Option 2, Option 3" datavalue="Option 3"></wm-select>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn name="gridcolumn12">
                            <wm-composite name="composite3" horizontalalign="left">
                                <wm-label name="label3" class="col-md-3" caption="Description"></wm-label>
                                <wm-container name="container3" class="col-md-9">
                                    <wm-textarea name="textarea1" tabindex="4" placeholder="Enter Description"></wm-textarea>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-buttongroup name="buttongroup1" horizontalalign="right" class="form-action col-md-12">
                    <wm-button name="button1" caption="Reset" type="reset" class="btn-secondary"></wm-button>
                    <wm-button name="button2" caption="Cancel" type="button" class="btn-warning"></wm-button>
                    <wm-button name="button3" caption="Save" type="submit" class="btn-primary"></wm-button>
                </wm-buttongroup>
            </wm-form>
        </wm-page-content>
    </wm-content>
</wm-page>